# Ignore everything
*

# But not these
!applications/*
!conf/*
!deploy.sh
!games/*
!.gitignore
!.hidden
!packages
!README.md
!LICENSE
!scripts/*
!services
!.vimrc
!.Xresources
!screenshot.png
!bin/*
!sbin/*

# Even subdirectories
!*/
