[Unit]
Description=Disable USB wakeup triggers in /proc/acpi/wakeup

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo LID0 > /proc/acpi/wakeup; echo RP05 > /proc/acpi/wakeup; echo RP02 > /proc/acpi/wakeup"
ExecStop=/bin/sh -c "echo LID0 > /proc/acpi/wakeup; echo RP05 > /proc/acpi/wakeup; echo RP02 > /proc/acpi/wakeup"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
