[Unit]
Description=Example systemd service.

[Service]
Type=simple
ExecStart=echo 'on' > '/sys/bus/usb/devices/1-2/power/control';

[Install]
WantedBy=multi-user.target
