[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.target

[Service]
User=etienne
Environment=DISPLAY=:0
ExecStart=/home/etienne/.dotfiles/bin/lock
#ExecStartPre=/usr/bin/sleep 0.5
ExecStartPost=/usr/bin/sleep 0.4

[Install]
WantedBy=suspend.target
