[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.target

[Service]
User=etienne
Environment=DISPLAY=:0
ExecStart=/usr/bin/betterlockscreen -l
#ExecStartPre=
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=suspend.target
